* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;700&display=swap");

* {
  font-family: "Nunito";
}

/* OBJECTS */
.o-canvas {
  max-width: 950px;
  width: 90%;
  margin: 0 auto;
}

.o-btn {
  padding: 10px 16px;
  border: 1px solid #00bcd1;
  border-radius: 4px;
  color: #fff;
  background-color: #00bcd1;
  cursor: pointer;
  transition: all 0.3s ease-in;
  text-decoration: none;
}
.o-btn:hover {
  border-color: #00bcd1;
  color: #00bcd1;
  background-color: transparent;
}

.o-btn_outline {
  border-color: #346bae;
  color: #346bae;
  background-color: transparent;
}
.o-btn_outline:hover {
  border-color: #346bae;
  color: #fff;
  background-color: #346bae;
}

.o-header {
  padding: 40px 0 80px 0;
}

.o-subtitle {
  color: #346bae;
  max-width: 560px;
  font-size: 42px;
  font-weight: 700;
}

.o-layout-two {
  display: flex;
}

.o-layout-100 {
  width: 100%;
  background-color: #f9f9f9;
  padding-bottom: 80px;
}

.o-canvas-panel {
  max-width: 1000px;
  margin: 0 auto;
  width: 90%;
  margin-top: 40px;
}

.o-title-section {
  font-size: 20px;
  color: #777;
}

/* HEADER */
.c-header {
  position: absolute;
  top: 0;
  margin: 32px 0;
  z-index: 2;
}

/* HERO */
.c-hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.c-hero__img {
  width: 100%;
  min-width: 100%;
  height: 100%;
  object-fit: cover;
}

.c-hero__box {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 80px;
}

.c-hero__content {
  padding: 40px;
  max-width: 80%;
  border-radius: 8px;
  background-color: #fffc;
}

.c-hero__tile {
  font-size: 16px;
  font-weight: 100;
  color: #346bae;
  margin-bottom: 24px;
}

.c-hero__subtitle {
  font-size: 52px;
  color: #346bae;
}

.c-hero__callto {
  margin-top: 40px;
}

.c-hero__callto .o-btn {
  margin-right: 16px;
}

.c-department {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  border: 1px soƒlid #f00;
}

.c-department__card {
  flex: 0 1 32%;
  border: 1px solid #b2b2b2;
  margin-bottom: 24px;
  padding: 24px;
  border-radius: 8px;
}

.c-department__title {
  margin-top: 24px;
  font-size: 24px;
  font-weight: 100;
  color: #b2b2b2;
}

.c-welcome {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
}

.c-welcome__figure,
.c-welcome__box {
  flex: 1 1 50%;
}

.c-welcome__figure {
  position: relative;
  height: 100%;
}

.c-welcome__img {
  height: 100%;
  object-fit: cover;
}

.c-welcome__figure::after {
  content: "";
  background-color: #346bae6b;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.c-welcome__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.c-welcome__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.c-welcome__title {
  margin-bottom: 80px;
  font-size: 30px;
  color: #346bae;
}

.c-form {
  width: 90%;
  max-width: 534px;
}

.c-form__box {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.c-form__label {
  margin-bottom: 8px;
  font-size: 14px;
  color: #b2b2b2;
}

.c-form__input {
  padding: 14px 16px;
  border: 1px solid #b2b2b2;
  outline: none;
  background-color: transparent;
  border-radius: 4px;
}

.c-form__action {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-aside {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  max-width: 338px;
  background-color: #346bae;
}

.c-aside__figure {
  margin: 0 auto;
  padding: 24px;
}

.c-aside__nav {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding: 80px 24px;
  padding-right: 0;
}

.c-aside__title {
  margin-bottom: 20px;
  font-weight: 200;
  color: #fff;
}

.c-aside__nav_group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.c-aside__link {
  margin-bottom: 20px;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  font-weight: 200;
  padding: 16px;
  background-color: transparent;
  width: 100%;
  border-radius: 8px 0 0 8px;
  transition: all 0.3s ease-in-out;
}

.c-aside__link:hover {
  background-color: #00bcd1;
}

.c-aside__link.c-aside__link_active {
  color: #346bae;
  background-color: #f9f9f9;
}

.c-aside__logout {
  text-align: center;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

.c-aside__logout:hover {
  text-decoration: underline;
}

.c-header__top {
  padding: 24px;
  text-align: right;
  color: #346bae;
  font-weight: 200;
  background-color: #fff;
  border-bottom: 1px solid #b2b2b2;
}

.c-wrapper-content {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.c-card {
  flex: 0 1 48%;
  border: 1px solid #346bae;
  background-color: #fff;
  border-radius: 4px;
  padding: 24px;
  margin-bottom: 24px;
  max-height: 512px;
  overflow: scroll;
}

/* .c-card:nth-child(1n) {
  color: #346bae;
}

.c-card:nth-child(2n) {
  color: #ffbc34;
}

.c-card:nth-child(3n) {
  color: #e84646;
} */

.c-card__title {
  font-size: 20px;
  margin-bottom: 8px;
  color: #777;
}

.c-card__subtitle {
  font-size: 16px;
  margin-bottom: 8px;
}

.c-card__txt {
  font-size: 14px;
  margin-bottom: 8px;
}

.c-card__txt_space {
  margin-bottom: 32px;
}

.c-card__lead {
  font-size: 16px;
  color: #777;
}

.c-card__number {
  text-align: right;
  font-size: 40px;
  margin-top: 16px;
}

.c-card_30 {
  flex: 0 1 30%;
}
.c-card_68 {
  flex: 0 1 68%;
}

.c-card_100 {
  flex: 1 1 100%;
}

.c-card__double {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #777;
}

.c-card__double-box {
  flex: 0 1 45%;
}

.c-card__double-box_flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #346bae;
}

.c-filter {
  margin: 24px 0;
}

.c-filter .c-form__label {
  margin-bottom: 24px;
}

.c-form__check {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 16px;
}

.c-form__check label.c-form__label {
  margin-bottom: 0;
}

.c-form__check input {
  margin-right: 8px;
}

.c-columns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 32px;
}

.c-col {
  margin-bottom: 16px;
}

.c-table {
  display: block;
  width: 100%;
}

.c-table > thead {
  display: block;
  background-color: #346bae;
  padding: 16px;
}

.c-table tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 14px;
  font-weight: 100;
}

.c-table tbody {
  display: block;
}

.c-table tbody tr {
  color: #777;
  padding: 16px;
}

.c-table tbody tr:nth-child(1n) {
  background-color: #f5f5f5;
}
.c-table tbody tr:nth-child(2n) {
  background-color: #fff;
}

.c-table__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-table__link a {
  display: inline-block;
  margin-right: 16px;
  text-decoration: none;
}
.c-table__link a.fa-trash::before {
  color: rgb(191, 34, 34);
}
.c-table__link a.fa-pen::before {
  color: #00bcd1;
}

@media screen and (max-width: 768px) {
  .o-subtitle {
    font-size: 30px;
  }

  .o-header {
    padding: 20px 0 40px 0;
  }

  .c-hero__box {
    max-width: 90%;
    padding: 24px;
  }
  .c-hero__subtitle {
    font-size: 32px;
  }

  .c-hero__callto {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
  }

  .c-hero__callto .o-btn {
    margin-bottom: 16px;
  }

  .c-department__card {
    flex: 0 1 100%;
  }

  .c-welcome {
    flex-direction: column;
    height: auto;
    overflow: visible;
  }

  .c-welcome__box {
    padding: 20px;
  }

  .c-welcome__figure {
    height: 250px;
    max-height: 250px;
  }

  .c-card__double {
    flex-direction: column;
    align-items: flex-start;
  }

  .c-card__double-box_flex {
    margin-top: 24px;
    padding-top: 24px;
    border-top: 1px solid #346bae;
    border-left-color: transparent;
    align-items: flex-start;
  }
}

@media screen and (max-width: 1024px) {
  .c-card {
    flex: 0 1 100%;
  }
}
